@page "/counter"
@inherits CounterBase 

<h1>Counter</h1>



<p>Current count: @currentCount</p>
<p>Singleton count @Singleton.Valor</p>
<p>Transient count @Transient.Valor</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCountJavaScript">Click me JavaScript</button>

<ListadoPeliculas />

